/* ----------------------------------------------
Website Name: Christopher Murphy - Web Design + Development
Website URL: http://www.christopherianmurphy.com
Author: Christopher Ian Murphy
Project Number: 2015_001
Date: 2015-12-26
---------------------------------------------- */

/* Colors
Bright Purple: #6b59ef
Plum: #2a2830
Plum Meat: #4e4e63
Grey: #f5f5f5
White: #fff
---------------------------------------------- */

/* Type
Primary: font-family: 'Montserrat', sans-serif;
Secondary: font-family: 'Roboto Slab', serif;
---------------------------------------------- */

/* CSS reset */
html, body, nav, header, footer, div, section, article, h1, h2, h3, p, a, ul, li {
    margin: 0;
    padding: 0;
}

/* Base Styles ------------------------------ */

a {
	color: inherit;
	text-decoration: none;
}

body {
	text-rendering: optimizeLegibility;
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	color: #4e4e63;
	margin: 0 auto;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 2.5em;
	margin: 3em 0;
	text-align: center;
	text-transform: uppercase;
}

nav {
	/* border-bottom: 2px solid #6b59ef; */
	height: 75px;
	position: fixed;
	z-index: 1;
}

p {letter-spacing: .075em}

/* Colors ---------------------------------- */

.brightPurple {color: #6b59ef;}
.plum {color: #2a2830;}
.plumMeat {color: #4e4e63;}
.grey {color: #f5f5f5;}
.white {color: #fff;}

/* Flex Layout ------------------------------- */

.row {display: flex;}

.col--tenth {flex: 0 0 10%;}
.col--fifth {flex: 0 0 20%;}
.col--quarter {flex: 0 0 25%;}
.col--third {flex: 0 0 33.3333334%;}
.col--half {flex: 0 0 50%;}
.col--whole {flex: 1;}

.center {justify-content: center;}
.center-vert {align-items: center;}
.space-around {justify-content: space-around;}
.space-between {justify-content: space-between;}

/* Primary Layout --------------------------- */

.article {
	margin-right: .75em;
	text-align: center;
}

.article__title {
	color: #6b59ef;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

.article__subtitle {
	font-size: 1.25em;
	line-height: 2em;
	margin-bottom: 3em;
	margin-top: -3em;
	text-align: center;
	width: 75%;
}

.article__desc {line-height: 2em;}

.button {
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 4em;
	padding: 1em 2em;
	text-transform: uppercase;
}

.button--white {
	border: solid #fff 2px;
	color: #fff;
}

.button--brightPurple {
	border: solid #6b59ef 2px;
	color: #6b59ef;
	margin: 4em 0;
}

.container-main {
	margin: 0 auto;
	max-width: 1080px;
	padding: 0 2.5%;
}

.footer {padding: 4em 0;}

.footer__legal {font-size: .75em;}

.footer__list {
	display: inline;
	list-style-type: none;
}

.footer__section {font-size: .95em;}

.footer__section__title {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: .95em;
	font-weight: normal;
	margin-bottom: 1em;
	margin-top: 0;
}

.footer__social {
	display: flex;
	justify-content: space-around;
	margin: 2em 0;
}

.footer__social img {
	height: 2em;
	width: auto;
}

.full-width {min-width: 100%;}
.full-width--brightPurple {background-color: #6b59ef;}
.full-width--plum {background-color: #2a2830;}
.full-width--plumMeat {background-color: #4e4e63;}
.full-width--grey {background-color: #f5f5f5;}

.full-width__headline {
	font-size: 2em;
	line-height: 2em;
	text-transform: none;
}

.jumbotron {
	height: 65vh;
	align-items: center;
}

.jumbotron__title {
	color: #6b59ef;
	font-family: 'Montserrat', sans-serif;
	font-size: 2.88em;
	line-height: 2em;
	text-decoration: underline;
}

.jumbotron__title span {color: #fff;}

.logo {
	background: url(00_assets/01_logos/2015_001-3d-purple.svg) no-repeat;
	background-size: 100%;
	height: auto;
	width: 100px;
}

.nav {
	align-items: center;
	display: flex;
	height: 75px;
	justify-content: space-between;
}

.nav__ul {
	display: flex;
	justify-content: space-between;
}

.nav__ul li {
	color: #fff;
	display: inline;
	font-family: 'Montserrat', sans-serif;
}

.preview {margin-bottom: 3em;}

.preview__title {
	color: #6b59ef;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.55em;
	margin-bottom: 1em;
}

.preview__description {
	line-height: 1.5em;
	margin-bottom: 1.5em;
}

.preview__image {margin-right: 2em;}

.preview__image img{
	height: auto;
	width: 100%;
}

.subtitle {
	font-size: 1.25em;
	line-height: 2em;
	margin: 3em 0;
	text-align: center;
}

/* Media Queries ------------------------------ */

/* Desktop only */
@media only screen and (min-width: 960px) and (min-resolution: 72dpi) {
	a:hover {color: #6b59ef;}
	
	.hvr-fade {
		display: inline-block;
		vertical-align: middle;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-moz-osx-font-smoothing: grayscale;
		overflow: hidden;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-webkit-transition-property: color, background-color;
		transition-property: color, background-color;
	}
	
	.button--white:hover, .button--white:focus, .button--white:active {
		background-color: #fff;
		color: #6b59ef;
	}
	
	.button--brightPurple:hover, .button--brightPurple:focus, .button--brightPurple:active {
		background-color: #6b59ef;
		color: #fff;
	}
}

/* Small device */
@media only screen and (max-width: 480px) {
	h2 {font-size: 1.75em;}
	
	.row {flex-direction: column;align-items:center;}
	.col--half, .col--whole {flex: 0 0 auto;}
	
	.full-width__headline {font-size: 1.25em;}
	
	.jumbotron {
		justify-content: center;
	}
	
	.jumbotron__title {
		font-size: 2em;
		line-height: 1.5em;
	}
	
	.logo {
		height: 125px;
		width: 100px;
		}
	
	/* .nav__ul {
		display: inline-block;
		left: 0;
		position: absolute;
		top: 0;
	}
	
	.nav__ul li {display: block;} */
	
	.preview__image {margin-right: 0;}
	.preview__title {margin-top: 1em;}
}

/* Test Components -------------------------- */
.test {background-color: grey;}
